{% extends "index.html" %}
{% block content %}
<form method="POST">
    <label for="driver_ref">Driver Ref:</label><br>
    <input type="text" id="driver_ref" name="driver_ref">
    <label for="number">Number:</label><br>
    <input type="number" id="number" name="number">
    <label for="code">Code:</label><br>
    <input type="text" id="code" name="code">
    <label for="forename">Forename:</label><br>
    <input type="text" id="forename" name="forename">
    <label for="surname">Surname:</label><br>
    <input type="text" id="surname" name="surname">
    <label for="date_of_birth">Date of birth:</label><br>
    <input type="date" id="date_of_birth" name="date_of_birth">
    <label for="nationality">Nationality:</label><br>
    <input type="text" id="nationality" name="nationality">

    <button class="button">
        Send
    </button>
</form>
{% endblock %}

