{% extends "index.html" %}
{% block content %}
<h1>Admin View</h1>
<p>Hello, {{ name }}. It's not you? <a href="{{ url_for('.logout') }}">logout</a></p>
<h2>Overview</h2>
<table>
    <thead>
    <tr>
        <th>Information</th>
        <th>Quantity</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Number of pilots</td>
        <td>{{count_drivers}}</td>
    </tr>
    <tr>
        <td>Number of constructors</td>
        <td>{{ count_constructors }}</td>
    </tr>
    <tr>
        <td>Number of races</td>
        <td>{{ count_races }}</td>
    </tr>
    <tr>
        <td>Number of seasons</td>
        <td>{{ count_seasons }}</td>
    </tr>
    </tbody>
</table>

<h2>Actions</h2>
<a href="{{ url_for('.create_constructors') }}"> <button>Create a new constructor</button> </a>
<a  href="{{ url_for('.create_drivers') }}"> <button>Create a new driver</button> </a>
<a  href="{{ url_for('.admin_reports') }}"> <button>Go to reports</button> </a>



{% endblock %}

