<!doctype html>
<head><title>Formula1 Project</title>
    <meta charset=utf-8>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
</head>
<body>
<a  href="{{ url_for('.index') }}">
<img id="logo" src="/static/Formula1Logo.png" alt="header" width="30%"><br><br>
</a>
<main role="main" class="container">
    <div class="jumbotron">
        {% block content %}{% endblock %}
    </div>
</main>

</body>